.gradient > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 999px;
}
.gradient {
  position: relative;
  background: linear-gradient(to left, #e1306c, #fbad50);
  border-radius: 50%;
  display: flex;
  padding: 3px;
}
p {
  margin-top: 5px;
  font-size: 10px;
}

.story {
  align-items: center;
  text-align: center;
  margin: 10px;
}
